/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*----------Custom Styles------------*/

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(56, 56, 63, 1);
  font-weight: lighter;
  line-height: 1.6em;
}

.content {
  width: 85%;
  display: block;
  margin: 0 auto;
  border: 1px solid red;
}

header {
  position: fixed;
  z-index:8;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  background-color: white;
  box-shadow: 0px 1px 1px #D3D3D3;
}


nav {
  position: absolute;
  top: 8px;
  right: 4%;
  text-align: right;
}

a:link {
text-decoration: none;
}

nav ul  {
  display: block;
  height: 26px;
}
nav ul li {
  display: inline;
  margin: 0 0 0 30px;
  color: rgba(56, 56, 63, 1);
  font-size: .9em;
  transition: .25s all ease;
}

nav ul li:hover {
/*  color: white;*/
 text-shadow: .5px .5px #555560, 
                1px 1px #555560;
}

#icon {
  position: absolute;
  left: 4%;
  top: 8px;
  color: #555560;
  transition: .25s all ease;
}

#icon:hover {
  text-shadow: .5px .5px #555560, 
                1px 1px #555560; 
}

.banner {
  position: absolute;
  text-align: right;
  color: white;
  top: 55px;
  right: 4%;
  font-weight: lighter;
  /*  animation: slideName 3s;
  -webkit-animation: slideName 3s;
  -moz-animation: slideName 3s;
  -ms-animation: slideName 3s;
  -o-animation: slideName 3s;*/
}


 h1 {
  margin: 0;
  font-size: 2.2em;
  font-weight: lighter;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.float-left, .float-right {
  color: white;
}

h4 {
  font-size: 1.6em;
  text-align: center;
  margin: 10px 0;
}

h5 {
  font-weight: bolder;
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
  color: #00a7b5;
  font-weight: bold;
}

.home-section {
  position:relative;
    background-image: url('../img/goran2op.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/*.banner {
  background-image: url('../img/geomet5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}*/

.skills-section {
  background-image: url('../img/lap.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.skills-section img {
  max-width: 100px;
  max-height: 100px;
}
.skills-logos {
  margin-bottom: 5%;
}



p {
  margin: 10px 0;
}


figcaption  {
  margin-top: 20px;
}


.contact-section img {
  height: 25px;
}

.home-section, .about-section, .skills-section, .projects-section {
  min-height: 100vh;
}

.jump1 {
  height: 50px;
}

.jump2 {
  height: 50px;
}

.p-small {
  font-size: .8em;
  font-style: oblique;
  text-align: center;
}


@keyframes animateLetters {
  0%   { letter-spacing: 0px; }
  100% { letter-spacing: 1px; }
}

@-webkit-keyframes animateLetters {
  0%   { letter-spacing: 0px; }
  100% { letter-spacing: 1px; }
}

@-moz-keyframes animateLetters {
  0%   { letter-spacing: 0px; }
  100% { letter-spacing: 1px; }
}

@-ms-keyframes "animateLetters" {
  0%   { letter-spacing: 0px; }
  100% { letter-spacing: 1px; }
}

@-o-keyframes "animateLetters" {
 0%   { letter-spacing: 0px; }
  100% { letter-spacing: 1px; }
}


@keyframes slideName {
  0%   { right: -50%; }
  100% { right:4%; }
}

@-webkit-keyframes slideName {
  0%   { right: -50%; }
  100% { right:4%; }
}

@-moz-keyframes slideName {
  0%   { right:-50%; }
  100% { right:4%; }
}

@-ms-keyframes "slideName" {
  0%   { right: -50%; }
  100% { right:4%; }
}

@-o-keyframes "slideName" {
 0%   { right: -50%; }
  100% { right:4%; }
}

.project-name {
  display: none;
}

.projects-section {
  min-height: 100vh;
  overflow: auto;
  width: 100%;
/*  background-image: url('../img/paintbrushes.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mySlides {
  width: 100%;
  height: 100;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

figure {
  width: 100%;
  margin: 0 0 20px 0;
}



.row {
  margin: 0 4% 2% 4%;
}

.row .col {
  padding: 0;
}



.indent {
  text-indent: 14px;
}

.margin-auto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*#email {
  margin: 0 20px;
}
*/
*:focus {
    outline: 0 !important;
}




.cards {
  width:90%;
  margin: 0 auto;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
/*  filter: drop-shadow(0 0 3px #333);*/
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00a7b5;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 0;
  transition: .6s ease;
}
.cards:hover .overlay {
  height: 100%;
}

.text {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow-wrap: break-word;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

button  {
  font-size: 1em;
  margin: 0 auto;
  font-family: 'Montserrat';
  padding: 5px 0;
}
.button-learn-more {
  display: block;
  background-color: transparent;
  color: white;
  border: 3px double white;
  width: 200px;
  filter:drop-shadow(2px 2px 2px gray);
  transition: .2s all ease;
}

.button-learn-more:hover, .button-learn-more:focus {
  background-color: #FF5942;
}
.project-panels {
  position: relative;
/*  overflow: auto;*/
/*  border: 1px solid red;*/
}

.panel-closeup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.98);
  margin-bottom: 0;
  color: black;
  /*font-weight: bold;*/
  padding: 20px;

/*  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 1px solid black;*/
}

/*.soundswap {
  border: 1px solid blue;
    height: auto;
}*/


.panel-closeup  img {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.panel-closeup p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.soundswap, .timiseler, .wuvr, .badnname, .speck {
  display: none;
  -webkit-animation: fade .5s;
  -moz-animation: fade .5s ;
  -o-animation: fade .5s ;
  animation: fade .5s ;
}

.close-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  color: black;
  border: none;
  font-size: 1.5em;
  transition: .2s all linear;
}

.close-panel:hover {
  background-color: none;
  font-size: 2em;
  color: red;
  transform: rotate(180deg);
}

.visit-button {
  opacity: 1;
  display: block;
  margin: 0 auto;
  width: 250px;
  font-weight: bold;
  color: #00a7b5;
  text-align: center;
  border: 3px double #00a7b5;
  transition: .3s all ease;
}

.visit-button:hover {
  background-color: #00a7b5;
  color: white; 
box-shadow: inset 0px 0px 0px 1px white;
-webkit-box-shadow: inset 0px 0px 0px 1px white;
-moz-box-shadow: inset 0px 0px 0px 1px white;
-o-box-shadow: inset 0px 0px 0px 1px white;
}

@-moz-keyframes fade {
  from { -moz-opacity: 0; }
  to { -moz-opacity: 1; }
}
@-webkit-keyframes fade {
  from { -webkit-opacity: 0; }
  to { -webkit-opacity: 1; }
}
@keyframes fade {
  from {opacity:0;}
  to {opacity: 1;}
}

blockquote {
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
  width: 80%;
  border-left: 5px solid #FB624B;
  padding-left: 20px;

}

blockquote h6 {
  margin-top: 40px;
  font-size: 1.5em;
}
.quotation {
  font-family: Georgia, serif;
  margin: 0 20px;
  height: 20px;
}

.col1of2 {
  float: left;
  width: 50%;
/*  border: 1px solid black;
  box-sizing: border-box;*/
}

.profile-photo {
  display: block;
  width: 300px;
 /* border: 2px solid black;*/
  margin: 0 auto;
  border-radius: 50%;

}
footer {
  position: fixed;
  z-index:8;
  left: 0;
  bottom: 0;
  right:0;
  height: 40px;
  background-color: white;
/*  padding: 5px;*/
  box-shadow: 0px -1px 1px #D3D3D3;
  padding: 7.5px 0;
  box-sizing: border-box;
}

#email {
  margin: 0 30px;
}
footer a {

  float: left;
  height: 25px;
  width: 25px;

}
  footer a img {

    height: 25px;
    width: 25px;
}

.contact-icons {
  width: 135px;
  margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section {
  margin-bottom: 100px;
}
